<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-names-and-salaries (settingsSaved)="hasExistingSettings=$event"
        *ngIf="!hasExistingSettings"></app-names-and-salaries>
    <div class="container" *ngIf="hasExistingSettings">
        <app-config></app-config>
        <app-results></app-results>
    </div>
</body>

</html>