.config-container{
    background-color: #edc7b7;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}