@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

html {
    min-width: 100%;
    min-height: 100%;
    background-color: #eee2dc;

    body {
        font-family: 'Open Sans';
        margin: 10px;
        color: #123c69;
    }

    .results {
        display: flex;
        justify-content: space-around;
    }
}